<html>
    <head><title>Sign in</title></head>
    <body>
        <form action="/controller/add"  method="POST" enctype="multipart/form-data">
        
            <input type="text" placeholder="Enter your first name" name="first_name" /><br><br>
            <input type="text" placeholder="Enter your last name" name="last_name" /><br><br>
            <input type="text" placeholder="Enter your father's name" name="father_name" /><br><br>
            <input type="text" placeholder="Enter your branch" name="branch" /><br><br>
            <input type="text" placeholder="Choose your  username" name="username" /><br><br>
            <input type="text" placeholder="Choose your password" name="password" /><br><br> 
            <input type="file" name="file" />
            <input type="submit" value="Sign In">
    </form>
    </body>
</html>